<div fxLayout="row">
  <div fxLayout="column" fxFlex="70">
    <app-video-recorder></app-video-recorder>
    <app-recordings></app-recordings>
  </div>
  <div fxLayout="column" fxFlex="30">

  </div>
</div>
