<div class="p-grid p-dir-col p-justify-around">
      <app-audition-details-list-item class="p-col" *ngFor="let detail of auditionDetails" [detail]="detail">
    </app-audition-details-list-item>
</div>