<p-dialog header="Pay Details" #detaildialog
          [focusOnShow]="false" [responsive]="false" styleClass="dialogsizer" (onShow)="onDialogShow($event, detaildialog)" (onHide)="onDialogHide($event, detaildialog)" [(visible)]="isVisible" [modal]="true" [minY]="70"
          [maximizable]="true" [baseZIndex]="10000">
    <p-card header="Enter the pay details">
        <!--[breakpoint]="640" [responsive]="true" [style]="{width: '80%', minWidth: '640px'}"-->

        <form [formGroup]="basicDialogInfo" #formDirective="ngForm">
            <div class="p-grid p-dir-col p-justify-around">
            <div class="p-col">
              <div class="p-grid p-dir-col p-justify-between">

                    <label class="p-col">Internal Name (for your use only)</label>
                    <input class="p-col" #name pInputText placeholder="Internal Name" formControlName="name" required>
                    <p-message class="p-col" severity="error" text="Internal Name is <strong>required</strong>" *ngIf="basicDialogInfo.controls['name'].hasError('required') && basicDialogInfo.controls['name'].dirty"></p-message>
              </div>
            </div>
              <div class="p-col">
                <div class="p-grid p-dir-col p-justify-between">
                  <label class="p-col">Pay Type</label>
                  <p-radioButton #payPackageType class="p-col" (onClick)="payTypeOptionClick(payPackageTypeEnum.gift)" name="payPackageType" value="7" label="Gift" formControlName="payPackageType"></p-radioButton>
                  <p-radioButton class="p-col" (onClick)="payTypeOptionClick(payPackageTypeEnum.credit)" name="payPackageType" value="3" label="Credit" formControlName="payPackageType"></p-radioButton>
                  <p-radioButton class="p-col" (onClick)="payTypeOptionClick(payPackageTypeEnum.money)" name="payPackageType" value="1" label="Money" formControlName="payPackageType"></p-radioButton>
                  <p-message severity="error" class="p-col" text="Pay Type is <strong>required</strong>" *ngIf="basicDialogInfo.controls['payPackageType'].hasError('required') && basicDialogInfo.controls['payPackageType'].dirty">
                  </p-message>
                  <div class="p-col" *ngIf="showHints">e.g. 'Batman lives'</div>

                </div>
              </div>
              <div class="p-col">
                <div class="p-grid p-dir-col p-justify-between">

                  <label class="p-col">Pay Details</label>
                  <textarea class="p-col" rows="3" pInputTextarea placeholder="Pay Details" formControlName="details"></textarea>
                </div>
              </div>

            </div>
        </form>
        <p-messages [(value)]="messages"></p-messages>

    </p-card>
    <p-footer>
      <button type="button" [disabled]="saveIsDisabled" pButton icon="pi pi-check" (click)="saveClick()" label="Save"></button>
      <button type="button" [disabled]="cancelIsDisabled" pButton icon="pi pi-close" (click)="cancelClick()" label="Cancel" class="ui-button-secondary"></button>
    </p-footer>
</p-dialog>

