
  <p-dialog header="Sides" #newroledialog
            [focusOnShow]="false" [responsive]="false" (onShow)="onDialogShow($event, newroledialog)" (onHide)="onDialogHide($event, newroledialog)"
            [(visible)]="isVisible" [modal]="true" [minY]="70"
            [baseZIndex]="9995">

    <div class="p-grid p-dir-col">



      <p-card header="Enter the details about the roles you are casting" class="p-col">

        <form [formGroup]="basicRoleInfo" #formDirective="ngForm">
          <div class="p-grid p-dir-col p-justify-around">
            <div class="p-col">
              <div class="p-grid p-dir-col p-justify-between">


                <label class="p-col">Role Name</label>
                <input class="p-col" pInputText #name placeholder="Role Name" formControlName="name" required>
                <p-message class="p-col" severity="error" text="Role Name is <strong>required</strong>" *ngIf="basicRoleInfo.controls['name'].hasError('required') && basicRoleInfo.controls['name'].dirty"></p-message>
                <div class="p-col p-align-end" *ngIf="showHints">e.g. 'Batman'</div>
              </div>
            </div>
            <div class="p-col">
              <div class="p-grid p-dir-col p-justify-between">
                <label class="p-col">Role Type</label>
                <p-dropdown class="p-col" [options]="roleTypes" [style]="{'width':'100%'}" autoWidth="false" #roletype placeholder="Select a Type of Role" formControlName="roleTypeId" required>
                </p-dropdown>
                <p-message class="p-col" severity="error" text="Role Type is <strong>required</strong>" *ngIf="basicRoleInfo.controls['roleTypeId'].hasError('required') && basicRoleInfo.controls['roleTypeId'].dirty"></p-message>
                <div class="p-col p-align-end" *ngIf="showHints">Select a Type of Role</div>
              </div>
            </div>
            <div class="p-col">
              <div class="p-grid p-align-start">

                <div class="p-col-12 p-md-6">
                  <div class="p-grid p-dir-col">
                    <label class="p-col">Gender (optional)</label>
                    <p-dropdown class="p-col" [options]="genderTypes" [style]="{'width':'100%'}" autoWidth="false" #gendertype placeholder="Select Gender" formControlName="roleGenderTypeId" required>
                    </p-dropdown>
                    <p-message class="p-col" severity="error" text="Gender Type is <strong>required</strong>" *ngIf="basicRoleInfo.controls['roleGenderTypeId'].hasError('required') && basicRoleInfo.controls['roleGenderTypeId'].dirty"></p-message>
                    <div class="p-col p-align-end" *ngIf="showHints">Select a Type of Gender</div>
                  </div>
                </div>
                <div class="p-col-12 p-md-6">
                  <div class="p-grid p-align-start switchoffset">
                    <p-inputSwitch class="p-col" formControlName="transgender"></p-inputSwitch>
                    <label class="p-col">Transgender</label>

                  </div>
                </div>
              </div>
            </div>
            <div class="p-col">
              <div class="p-grid p-dir-col p-justify-between">
                <label class="p-col">Role Description (optional)</label>
                <textarea class="p-col" rows="3" pInputTextarea placeholder="Role Description" formControlName="description"></textarea>
              </div>
            </div>
            <div class="p-col">
              <div class="p-grid p-dir-col p-justify-between">
                <label class="p-col" class="p-col">Age Range (optional): {{minAge}} to {{maxAge}}</label>
                <p-slider class="p-col" formControlName="age" (onChange)="handleAgeSliderChange($event)" [style]="{'width':'100%'}" [min]="0" [max]="100" [range]="true"></p-slider>
                <div class="p-col">
                  <div class="p-grid p-justify-between p-align-end">
                    <label>{{minAge}}</label><label>{{maxAge}}</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="p-col">
              <div class="p-grid p-justify-between">
                <p-inputSwitch class="p-col" formControlName="requiresNudity"></p-inputSwitch>
                <label class="p-col">This role requires nudity</label>

              </div>
            </div>
            <div class="p-col">
              <div class="p-grid p-dir-col p-justify-between">
                <label class="p-col">Pay Detail</label>
                <div class="p-grid p-justify-between">

                  <div class="p-col-8">
                    <p-dropdown class="p-col" [options]="payDetails" [style]="{'width':'100%'}" autoWidth="false" #paydetail placeholder="Select a pay package" formControlName="payDetailId">
                      <ng-template let-item pTemplate="selectedItem">
                        <div>
                          {{item.name}} {{item.id}} <button pButton label="Remove" (click)="removePayDetail()"></button>
                        </div>
                      </ng-template>
                      <ng-template let-item pTemplate="item">
                        <div>
                          {{item.name}} {{item.id}}
                        </div>
                      </ng-template>
                    </p-dropdown>

                  </div>
                  <div class="p-col-4">
                    <button pButton label="Add new pay details" (click)="addNewPayDetails()"></button>
                  </div>
                </div>
              </div>
            </div>


          </div>
        </form>



        <div class="p-grid p-dir-col p-justify-around">
          <div class="p-col">
            <div class="p-grid p-dir-col p-justify-between">

              <label class="p-col">Languages (optional)</label>
              <p-multiSelect class="p-col" [(ngModel)]="languages" [options]="metadata.languages" [style]="{'width':'100%'}" optionLabel="name" autoWidth="false" placeholder="Select Languages">
              </p-multiSelect>
              <div class="p-col p-align-end" *ngIf="showHints">Select Languages</div>
            </div>
          </div>
          <div class="p-col">
            <div class="p-grid p-dir-col p-justify-between">
              <label class="p-col">Accents (optional)</label>
              <p-multiSelect class="p-col" [(ngModel)]="accents" [options]="metadata.accents" [style]="{'width':'100%'}" optionLabel="name" autoWidth="false" placeholder="Select Accents">
              </p-multiSelect>
              <div class="p-col p-align-end" *ngIf="showHints">Select Accents</div>
            </div>
          </div>
          <div class="p-col">
            <div class="p-grid p-dir-col p-justify-between">
              <label class="p-col">StereoTypes (optional)</label>
              <p-multiSelect class="p-col" [(ngModel)]="stereoTypes" [options]="metadata.stereoTypes" [style]="{'width':'100%'}" optionLabel="name" autoWidth="false" placeholder="Select StereoTypes">
              </p-multiSelect>
              <div class="p-col p-align-end" *ngIf="showHints">Select StereoTypes</div>
            </div>
          </div>
          <div class="p-col">
            <div class="p-grid p-dir-col p-justify-between">
              <label class="p-col">Ethnicities (optional)</label>
              <p-multiSelect class="p-col" [(ngModel)]="ethnicities" [options]="metadata.ethnicities" [style]="{'width':'100%'}" optionLabel="name" autoWidth="false" placeholder="Select Ethnicities">
              </p-multiSelect>
              <div class="p-col p-align-end" *ngIf="showHints">Select Ethnicities</div>
            </div>
          </div>
          <div class="p-col">
            <div class="p-grid p-dir-col p-justify-between">
              <label class="p-col">Ethnic Stereotypes (optional)</label>
              <p-multiSelect class="p-col" [(ngModel)]="ethnicStereoTypes" [options]="metadata.ethnicStereoTypes" [style]="{'width':'100%'}" optionLabel="name" autoWidth="false" placeholder="Select Ethnic Stereotypes">
              </p-multiSelect>
              <div class="p-col p-align-end" *ngIf="showHints">Select Ethnic Stereotypes</div>
            </div>
          </div>
          <div class="p-col">
            <div class="p-grid p-dir-col p-justify-between">

              <label class="p-col">Hair Colors (optional)</label>
              <p-multiSelect class="p-col" [(ngModel)]="hairColors" [options]="metadata.hairColors" [style]="{'width':'100%'}" optionLabel="name" autoWidth="false" placeholder="Select HairColors">
              </p-multiSelect>
              <div class="p-col p-align-end" *ngIf="showHints">Select Hair Colors</div>
            </div>
          </div>
          <div class="p-col">
            <div class="p-grid p-dir-col p-justify-between">

              <label class="p-col">Eye Colors (optional)</label>
              <p-multiSelect class="p-col" [(ngModel)]="eyeColors" [options]="metadata.eyeColors" [style]="{'width':'100%'}" optionLabel="name" autoWidth="false" placeholder="Select EyeColors">
              </p-multiSelect>
              <div class="p-col p-align-end" *ngIf="showHints">Select Eye Colors</div>
            </div>
          </div>
          <div class="p-col">
            <div class="p-grid p-dir-col p-justify-between">

              <label class="p-col">Body Types (optional)</label>
              <p-multiSelect class="p-col" [(ngModel)]="bodyTypes" [options]="metadata.bodyTypes" [style]="{'width':'100%'}" optionLabel="name" autoWidth="false" placeholder="Select BodyTypes">
              </p-multiSelect>
              <div class="p-col p-align-end" *ngIf="showHints">Select Body Types</div>
            </div>
          </div>

        </div>
        <p-messages [(value)]="messages"></p-messages>

        <p-footer class="p-grid p-justify-end">
          <button pButton type="button" label="Cancel" (click)="onNoClick()" class="ui-button-secondary"></button>
          <button pButton type="button" label="Save Role" (click)="saveRoleClick()"></button>
        </p-footer>

      </p-card>

    </div>


  </p-dialog>
