
                <div class="p-grid p-dir-col">
                    <div class="p-col">
                      <ui-view #sidePulloutContainerView name="main"></ui-view>
                    </div>
                </div>
     <!-- <div class="p-grid p-dir-col" fxFlex="1 1 auto" fxLayout="column" class="scroll_me_wrapper" fxLayoutAlign="start stretch">
       <div class="scroll_me" fxFlex="1 1 auto">
         <ui-view #sidePulloutContainerView name="main"></ui-view>
       </div>
     </div>
     -->