<app-sides-dialog [side]=side [productionId]=production.id></app-sides-dialog>
<app-audition-details-dialog [productionId]=production.id></app-audition-details-dialog>
<app-shoot-details-dialog [productionId]=production.id></app-shoot-details-dialog>
<app-pay-details-dialog [productionId]=production.id></app-pay-details-dialog>
<app-new-role-dialog [productionId]=production.id [production]="production" [metadata]="metadata"></app-new-role-dialog>

<div class="p-grid p-dir-col p-justify-between">
  <div class="p-col">

    <div class="p-grid p-align-start">
      <div class="p-col-6">
        <span>Production:</span>
      </div>
      <div class="p-col-6">
        <span class="valuelabel">{{production.name}}</span>
      </div>
    </div>
  </div>


  <div class="p-col">
    <div class="p-grid p-justify-around p-align-start">
      <div class="p-col-6">
        <div class="p-grid p-dir-col">


          <p-panel class="p-col" [toggleable]="true" toggler="header" header="Roles ({{production.roles.length}})">
            <p-header>
              <div class="ui-helper-clearfix">
                <p-button [style]="{'float':'right'}" label="New Role" (click)="createNewRole()"></p-button>
              </div>
            </p-header>
            <p-scrollPanel [style]="{'width': '100%', 'max-height': '400px'}">
              <app-role-list [production]="production" [roles]="production.roles">
              </app-role-list>
            </p-scrollPanel>
            <p-footer>
              <button pButton type="button" icon="pi pi-plus" label="New" class="ui-button-info" (click)="addSide()" style="margin-right: .25em"></button>
              <button pButton type="button" icon="pi pi-search" label="View" class="ui-button-success"></button>
            </p-footer>
          </p-panel>





        </div>
      </div>
      <div class="p-col-3">
        <div class="p-grid p-dir-col">

          <p-panel class="p-col" [toggleable]="true" header="CastingCalls ({{production.castingCalls.length}})">

            <p-footer>
              <a pButton uiSref="newcastingCall" icon="pi pi-plus" label="New" [uiParams]="{ productionId:production.id, production:production }" class="ui-button-info"></a>
              <a pButton uiSref="productioncastingCalls" [uiParams]="{ productionId:production.id }" icon="pi pi-search" label="View" class="ui-button-success"></a>
            </p-footer>
          </p-panel>

          <p-panel class="p-col" [toggleable]="true" header="Casting Sessions ({{production.castingSessions.length}})">
            <p-footer>
              <button pButton type="button" icon="pi pi-plus" label="New" class="ui-button-info" (click)="addSide()" style="margin-right: .25em"></button>
              <button pButton type="button" icon="pi pi-search" label="View" class="ui-button-success"></button>
            </p-footer>
          </p-panel>

          <p-panel class="p-col" [toggleable]="true" header="Sides ({{production.sides.length}})">
            <app-sides-list [sides]="production.sides"></app-sides-list>

            <p-footer>
              <button pButton type="button" icon="pi pi-plus" label="New" class="ui-button-info" (click)="addSide()" style="margin-right: .25em"></button>
              <button pButton type="button" icon="pi pi-search" label="View" class="ui-button-success"></button>
            </p-footer>
          </p-panel>



        </div>
      </div>
      <div class="p-col-3">

        <div class="p-grid p-dir-col">

          <p-panel class="p-col" [toggleable]="true" header="Shoot Details ({{production.shootDetails.length}})">

            <app-shoot-details-list [shootDetails]="production.shootDetails"></app-shoot-details-list>
            <p-footer>
              <button pButton type="button" icon="pi pi-plus" label="New" class="ui-button-info" (click)="addShootDetails()" style="margin-right: .25em"></button>
              <button pButton type="button" icon="pi pi-search" label="View" class="ui-button-success"></button>
            </p-footer>
          </p-panel>

          <p-panel class="p-col" [toggleable]="true" header="Audition Details ({{production.auditionDetails.length}})">
            <app-audition-details-list [auditionDetails]="production.auditionDetails"></app-audition-details-list>

            <p-footer>
              <button pButton type="button" icon="pi pi-plus" label="New" class="ui-button-info" (click)="addAuditionDetails()" style="margin-right: .25em"></button>
              <button pButton type="button" icon="pi pi-search" label="View" class="ui-button-success"></button>
            </p-footer>
          </p-panel>

          <p-panel class="p-col" [toggleable]="true" header="Pay Details ({{production.payDetails.length}})">
            <app-pay-details-list [payDetails]="production.payDetails"></app-pay-details-list>


            <p-footer>
              <button pButton type="button" icon="pi pi-plus" label="New" class="ui-button-info" (click)="addPayDetails()" style="margin-right: .25em"></button>
              <button pButton type="button" icon="pi pi-search" label="View" class="ui-button-success"></button>
            </p-footer>
          </p-panel>


        </div>
      </div>
    </div>
  </div>
</div>
