<button (click)="setupCameraClick()">Setup camera</button>
<p-card>
<div class="row">
  <div class="col-xs-12">
    <video #videoElement class="video"></video>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <button [disabled]="(!ready || isRecordNow)" pButton color="primary" (click)="startRecording()"> Record </button>
    <button [disabled]="!isRecordNow" pButton color="primary" (click) ="stopRecording()"> Stop</button>
    <button [disabled]="!isRecordNow" pButton color="primary" (click)="download()"> Download</button>
  </div>
</div>
<div *ngFor="let device of this.videoDeviceCollection">
  {{device.label}}
</div>
</p-card>