mat-card {
  max-width:600px;
  width:90%;
  margin:0 auto;
}
.video {
  box-shadow: 1px 6px 10px 2px rgba(35, 35, 35, 0.62);
 /*height: 600px;
  max-height: 800px;*/ 
  width: 100%;
  margin:0 auto;
}

.row {
  margin-bottom: 20px;
}