 <p-card>
    <div class="p-grid p-dir-col">
      <div class="p-col">
          <a (click)="viewDetails()">{{detail.name}}</a>
   </div>
    </div>
    <p-footer>
      <a class="pi pi-pencil" (click)="viewDetails()"></a>
      <a class="pi pi-trash" (click)="deleteDetails()"></a>
    </p-footer>

  </p-card>
