
<div class="p-grid p-dir-col">
  <div class="p-col">
     <ui-view #sidePulloutContainerView name="main"></ui-view>
  </div>
</div>
<!--  <ui-view #sidePulloutContainerView name="side"></ui-view>
          </div>
        </div>-->

   