<p-card header="Login to Casting WEb Book">
    <form [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit()">
      <div class="p-grid p-dir-col p-justify-around">
      <div class="p-col">

      <div class="p-grid p-dir-col p-justify-between email">
                        <input class="p-col" pInput placeholder="Enter Username" formControlName="userName">
                        <p-message class="p-col" text="Username is <strong>required</strong>" *ngIf="loginForm.controls['userName'].hasError('required') && loginForm.controls['userName'].dirty">
                            
                        </p-message>
                        <div class="p-col p-align-end">e.g. name@company.com</div>
      </div>
      </div>
          <div class="p-col">


              <div class="p-grid p-dir-col p-justify-between names">
                  <input class="p-col" pInput type="password" placeholder="Password" formControlName="password">
                  <p-message class="p-col" text="Password is <strong>required</strong>" *ngIf="loginForm.controls['password'].hasError('required') && loginForm.controls['password'].dirty">
                      
                  </p-message>
              </div>
      </div>
          <div class="p-col">


              <div class="p-grid p-dir-col p-justify-between names">
                  <div [hidden]="!errorMessage" class="well error">{{ errorMessage }}</div>

                  <button pButton type="submit">Submit</button>
              </div>
          </div>
      </div>

    </form>
</p-card>