
<div class="p-grid p-justify-center">
    <div class="p-col-9">
       <!-- <div fxLayout="column">
            <mat-card fxFlex class="production_card">
                <mat-card-header>
                    <mat-card-title>Your Projects</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div fxLayout="column">
                        <mat-paginator [length]="length"
                                       [pageSize]="pageSize"
                                       [pageSizeOptions]="pageSizeOptions"
                                       (page)="changePageSizeOption($event)">
                        </mat-paginator>
                        <div fxFlex="1 1 auto" fxLayout="column" class="production_list_wrapper scroll_me_wrapper" fxLayoutAlign="start stretch">
                            <div fxFlex="1 1 auto" class="production_list scroll_me">-->
                                <app-production-list [productions]="productions">
                                </app-production-list>
    <!--    </div>
                        </div>
                        <mat-paginator [length]="length"
                                       [pageSize]="pageSize"
                                       [pageSizeOptions]="pageSizeOptions"
                                       (page)="changePageSizeOption($event)">
                        </mat-paginator>

                    </div>
                </mat-card-content>
            </mat-card>

        </div>-->
    </div>
    <div class="p-col-3">
        <div class="p-grid">

            <button class="p-col" pButton label="Create New Project" (click)="createNewProduction()"></button>
            <button class="p-col" pButton label="go Roles"></button>
        </div>

    </div>
</div>
