<div class="row">
  <div class="col-xs-12">
    <video #video class="video"></video>
  </div>
</div>
{{data}}
<div class="row">
  <div class="col-xs-12">
    <div mat-dialog-actions>
      <button mat-button (click)="onNoClick()">No Thanks</button>
      <button mat-button (click)="saveMe()" cdkFocusInitial>Ok</button>
    </div>
  </div>
</div>