.uploadfilecontainer {
  background-image: url("../../../../../assets/cloud-2044823_960_720.png");
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: center;
  height: 200px;
  /*margin: 20px auto;*/
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px dashed #1C8ADB;
  border-radius: 10px;
}

.uploadfilecontainer:hover {
    cursor: pointer;
    background-color: #9ecbec !important;
    opacity: 0.8;
}

.files-list {
    /*display: flex;
    justify-content: space-between;
    margin: 10px auto;*/
    margin-top:10px;
    margin-bottom:10px;
    background: #ffffff;
    border: 1px dashed;
    border-radius: 12px;
    padding: 5px;
    color: #1c8adb;
}
