<p-dialog header="Sides" #detaildialog
          [focusOnShow]="false" [responsive]="false" styleClass="dialogsizer" (onShow)="onDialogShow($event, detaildialog)" (onHide)="onDialogHide($event, detaildialog)" 
          [(visible)]="isVisible" [modal]="true" [minY]="70"
          [maximizable]="true" [baseZIndex]="10000">
    <p-card header="Enter the pay details">
        <!--[breakpoint]="640" [responsive]="true" [style]="{width: '80%', minWidth: '640px'}"-->
        <form [formGroup]="basicDialogInfo" #formDirective="ngForm">
            <input type="file"
                   #file
                   style="display: none"
                   (change)="onFilesAdded()"
                   multiple />
            <div class="p-grid p-dir-col p-justify-around">
                <div class="p-col">
                    <div class="p-grid p-dir-col p-justify-between">
                        <label class="p-col">Internal Name (for your use only)</label>
                        <input [disabled]="nameIsDisable" class="p-col" #name pInputText placeholder="Internal Name" formControlName="name" required>
                        <p-message class="p-col" severity="error" text="Internal Name is <strong>required</strong>" *ngIf="basicDialogInfo.controls['name'].hasError('required') && basicDialogInfo.controls['name'].dirty"></p-message>
                    </div>
                </div>
                <div class="p-col">
                    <div class="p-grid p-dir-col p-justify-between">
                        <label class="p-col">Side Document File (pdf file)</label>
                        <div class="p-col">
                            <div class="p-grid p-dir-col p-justify-between">

                                <div *ngFor="let fileUploadState of sideFiles" class="p-col files-list">
                                    <div class="p-grid p-dir-col p-justify-between">
                                        <div class="p-col">
                                            <div class="p-grid p-justify-center p-align-center">
                                                <div class="p-col">
                                                    {{fileUploadState.file.name}}({{fileUploadState.totalSize | bytes}})
                                                </div>
                                                <button [disabled]="removeFileIsDisabled" class="p-col-fixed" style="width:auto" pButton (click)="remove(fileUploadState)" icon="pi pi-trash"></button>
                                            </div>
                                        </div>
                                        <p-progressBar [value]="fileUploadState.percentageUploaded" *ngIf="fileUploadState.isUploading || fileUploadState.isComplete"></p-progressBar>
                                        <div class="p-col">
                                            <span class="p-col" *ngIf="fileUploadState.isUploading || fileUploadState.isComplete">{{fileUploadState.percentageUploaded}}% </span><span *ngIf="fileUploadState.isUploading || fileUploadState.isComplete"> {{fileUploadState.uploadedSize | bytes}} of {{fileUploadState.totalSize | bytes}}</span>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div [hidden]="dropPanelIsHiden" class="p-col uploadfilecontainer" id="drop_zone" appDropFile (click)="addFiles()" (onFileDropped)="onFilesDropped($event)">
                                <strong>Drag one or more files to this Drop Zone ...</strong>
                            </div>
                            <button class="p-col-fixed" style="width:120px" type="button" [disabled]="selectIsDisabled" pButton icon="pi pi-plus" (click)="addFiles()" label="Select file"></button>

                        </div>
                    </div>

                </div>
            </div>
        </form>
        <p-messages [(value)]="messages"></p-messages>

    </p-card>
    <p-footer>
        <button type="button" [disabled]="saveIsDisabled" pButton icon="pi pi-check" (click)="saveClick()" label="Upload and Save"></button>
        <button type="button" [disabled]="cancelIsDisabled" pButton icon="pi pi-close" (click)="cancelClick()" label="Cancel" class="ui-button-secondary"></button>
    </p-footer>
</p-dialog>
