:host {
  height:100%;
}

.main_container {
   /* height:100%;
    position:relative;*/
}


.router-load-indicator {
    // Delay the animation for a fast network connection (so users don't see the loader).
   
    // --
    background-color: #ffdc73 ;
    border-radius: 5px 5px 5px 5px ;
    box-shadow: 0px 2px 2px fade( #000000, 20% ) ;
    color: #000000 ;
    font-family: monospace ;
    font-size: 16px ;
    left: 50% ;
    padding: 7px 15px 7px 15px ;
    position: fixed ;
    text-transform: lowercase ;
    top: 10px ;
    transform: translateX( -50% ) ;
    z-index: 2 ;
}
