<p-toast [baseZIndex]="300000" [style]="{marginTop: '80px'}"></p-toast>
<p-toast position="center" key="confirm" (onClose)="onDecisionReject()" [modal]="true" [baseZIndex]="50000">
  <ng-template let-message pTemplate="message">
    <div style="text-align: center">
      <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
      <h3>{{message.summary}}</h3>
      <p>{{message.detail}}</p>
    </div>
    <div class="ui-g ui-fluid">
      <div class="ui-g-6">
        <button type="button" pButton (click)="onDecisionConfirm()" label="Yes" class="ui-button-success"></button>
      </div>
      <div class="ui-g-6">
        <button type="button" pButton (click)="onDecisionReject()" label="No" class="ui-button-secondary"></button>
      </div>
    </div>
  </ng-template>
</p-toast>

<div>

  <ui-view #mainView></ui-view>
  
  <div
    *ngIf="isShowingRouteLoadIndicator"
    class="router-load-indicator">
    Loading Module
  </div>
</div>


