
<div class="p-grid">
    <div class="p-col-9">
        <div class="p-grid p-dir-col p-justify-between">
            <p-card class="p-col" header="Create a new project">
               <p-header>
                <div #basiccard></div>
                </p-header>
                <form [formGroup]="basicProductionInfo">
                    <div class="p-grid p-dir-col p-justify-around">
                        <div class="p-col">
                            <div class="p-grid p-dir-col p-justify-between">
                                <label class="p-col">Title of Production</label>
                                <input class="p-col" pInputText placeholder="e.g. 'Batman lives'" #name formControlName="name" required>
                                <p-message severity="error" text="Production Title is <strong>required</strong>" class="p-col" *ngIf="basicProductionInfo.controls['name'].hasError('required') && basicProductionInfo.controls['name'].dirty">
                                    
                                </p-message>
                                <div class="p-col p-align-end" *ngIf="showHints">e.g. 'Batman lives'</div>

                            </div>
                        </div>
                        <div class="p-col">
                            <div class="p-grid p-dir-col p-justify-between">

                                <label class="p-col">Production Type</label>
                                <p-dropdown [options]="productionTypes" [group]="true" [style]="{'width':'100%'}" autoWidth="false" #productiontype placeholder="Select a Type of Production" formControlName="productionTypeId" required>
                                  <ng-template let-item pTemplate="selectedItem"> 
                                    {{item.label}} <!-- highlighted selected item -->
                                  </ng-template> 
                                  <ng-template let-item pTemplate="item"> 
                                    {{item.label}}
                                  </ng-template>
                                  <ng-template let-group pTemplate="group">
                                    <span style="margin-left:.25em">{{group.label}}</span>
                                  </ng-template>
                                  </p-dropdown>
                                <!-- <mat-select placeholder="Select a Type of Production" formControlName="productionTypeId" required>
                                     <mat-optgroup *ngFor="let cat of meta.productionTypeCategories" [label]="cat.name">
                                         <mat-option *ngFor="let prodType of cat.productionTypes" [value]="prodType.id">
                                                </mat-option>

                                     </mat-optgroup>

                                 </mat-select>-->
                                <p-message severity="error" text="Production Type is <strong>required</strong>" class="p-col" *ngIf="basicProductionInfo.controls['productionTypeId'].hasError('required') && basicProductionInfo.controls['productionTypeId'].dirty">
                                    
                                </p-message>
                                <div class="p-col p-align-end" *ngIf="showHints">Select a Type of Production</div>
                            </div>
                        </div>
                        <div class="p-col">
                            <div class="p-grid p-dir-col p-justify-between">
                                <label class="p-col">Production Company</label>
                                <input class="p-col" pInputText placeholder="Enter the Production Company Name" formControlName="productionCompany">
                                <div class="p-col p-align-end" *ngIf="showHints">e.g. Starlight Productions</div>
                            </div>
                        </div>
                        <div class="p-col">
                            <div class="p-grid p-dir-col p-justify-between">
                                <label class="p-col">Production Description</label>
                                <textarea rows="3" class="p-col" pInputTextarea #description placeholder="Casting 'Batman Lives', a new CBS TV series based on the classic legends but taking place in a modern-day Gotham City." formControlName="description" required></textarea>
                                <p-message severity="error" text="Production Description is <strong>required</strong>" class="p-col" *ngIf="basicProductionInfo.controls['description'].hasError('required') && basicProductionInfo.controls['description'].dirty">
                                    
                                </p-message>
                                <div class="p-col p-align-end" *ngIf="showHints">Casting 'Batman Lives', a new CBS TV series based on the classic legends but taking place in a modern-day Gotham City.</div>
                            </div>
                        </div>
                        <div class="p-col">
                            <div class="p-grid p-dir-col p-justify-between">
                                <label class="p-col">Union Status</label>
                              <div class="p-col">
                                <div class="p-grid p-justify-around">
                                  <p-radioButton class="p-col" name="unions" value="7" label="Union and Non-Union" formControlName="productionUnionStatus"></p-radioButton>
                                  <p-radioButton class="p-col" name="unions" value="3" label="Union" formControlName="productionUnionStatus"></p-radioButton>
                                  <p-radioButton class="p-col" name="unions" value="1" label="Non-Union" formControlName="productionUnionStatus"></p-radioButton>
                                  <p-radioButton class="p-col" name="unions" value="15" label="N/A" formControlName="productionUnionStatus"></p-radioButton>
                                </div>
                                </div>


                            </div>
                        </div>
                        <div class="p-col">
                            <div class="p-grid p-dir-col p-justify-start">
                                <label class="p-col">Will the talent be paid?</label>
                              <div class="p-col">
                                <div class="p-grid p-justify-around">
                                <p-radioButton class="p-col" name="pays" value="1" label="No" formControlName="compensationType"></p-radioButton>
                                <p-radioButton class="p-col" name="pays" value="3" label="Some" formControlName="compensationType"></p-radioButton>
                                <p-radioButton class="p-col" name="pays" value="7" label="Yes" formControlName="compensationType"></p-radioButton>
                                </div>
                              </div>


                            </div>
                        </div>
                        <div class="p-col">
                            <div class="p-grid p-dir-col p-justify-between">

                                <label class="p-col">Compensation & Union Contract Details</label>
                                <textarea rows="3" class="p-col" pInputTextarea placeholder="e.g., Pays $100/day, plus travel and meals provided. No participation fees required. The producers plan to apply for a SAG-AFTRA New Media Agreement." formControlName="compensationContractDetails"></textarea>
                                <div class="p-col p-align-end" *ngIf="showHints">e.g., Pays $100/day, plus travel and meals provided. No participation fees required. The producers plan to apply for a SAG-AFTRA New Media Agreement.</div>

                            </div>
                        </div>
                    </div>
                </form>
            </p-card>

            <p-card header="Roles" class="p-col">
              <p-header>
                <div #rolescard></div>
              </p-header>


                <app-role-list [production]="production" [roles]="production.roles">

                </app-role-list>


                <button (click)="addRoleClick()" label="Add Role" pButton></button>
            </p-card>
            <p-card header="Casting" class="p-col">
              <p-header>
                <div #castingcard></div>
              </p-header>

                <form [formGroup]="castingDetails">

                    <div class="p-grid p-dir-col p-justify-around">
                        <div class="p-col">
                            <div class="p-grid p-dir-col p-justify-between">

                                <label class="p-col">Casting Director</label>
                                <input class="p-col" pInputText placeholder="Enter the Name of the Casting Director" formControlName="castingDirector">
                                <div class="p-col p-align-end" *ngIf="showHints">Enter the Name of the Casting Director</div>
                            </div>
                        </div>
                        <div class="p-col">
                            <div class="p-grid p-dir-col p-justify-between">
                                <label class="p-col">Casting Assistant</label>
                                <input class="p-col" pInputText placeholder="Enter the Name of the Casting Assistant" formControlName="castingAssistant">
                                <div class="p-col p-align-end" *ngIf="showHints">Enter the Name of the Casting Assistant</div>
                            </div>
                        </div>
                        <div class="p-col">
                            <div class="p-grid p-dir-col p-justify-between">
                                <label class="p-col">Casting Associate</label>
                                <input class="p-col" pInputText placeholder="Enter the Name of the Casting Associate" formControlName="castingAssociate">
                                <div class="p-col p-align-end" *ngIf="showHints">Enter the Name of the Casting Associate</div>
                            </div>
                        </div>
                        <div class="p-col">
                            <div class="p-grid p-dir-col p-justify-between">
                                <label class="p-col">Assistant Casting Associate</label>
                                <input class="p-col" pInputText placeholder="Enter the Name of the Assistant Casting Associate" formControlName="assistantCastingAssociate">
                                <div class="p-col p-align-end" *ngIf="showHints">Enter the Name of the Assistant Casting Associate</div>

                            </div>
                        </div>
                    </div>
                </form>

            </p-card>
            <p-card header="Producing" class="p-col">
              <p-header>
                <div #productioncard></div>
              </p-header>

                <form [formGroup]="productionDetails">

                    <div class="p-grid p-dir-col p-justify-around">
                        <div class="p-col">
                            <div class="p-grid p-dir-col p-justify-between">

                                <label class="p-col">Executive Producer</label>
                                <input class="p-col" pInputText placeholder="Enter the Name of the Executive Producer" formControlName="executiveProducer">
                                <div class="p-col p-align-end" *ngIf="showHints">Enter the Name of the Executive Producer</div>
                            </div>
                        </div>
                        <div class="p-col">
                            <div class="p-grid p-dir-col p-justify-between">
                                <label class="p-col">Co Executive Producer</label>
                                <input class="p-col" pInputText placeholder="Enter the Name of the Co Executive Producer" formControlName="coExecutiveProducer">
                                <div class="p-col p-align-end" *ngIf="showHints">Enter the Name of the Co Executive Producer</div>
                            </div>
                        </div>
                        <div class="p-col">
                            <div class="p-grid p-dir-col p-justify-between">
                                <label class="p-col">Producer</label>
                                <input class="p-col" pInputText placeholder="Enter the Name of the Producer" formControlName="producer">
                                <div class="p-col p-align-end" *ngIf="showHints">Enter the Name of the Producer</div>
                            </div>
                        </div>
                        <div class="p-col">
                            <div class="p-grid p-dir-col p-justify-between">
                                <label class="p-col">Co Producer</label>
                                <input class="p-col" pInputText placeholder="Enter the Name of the Co Producer" formControlName="coProducer">
                                <div class="p-col p-align-end" *ngIf="showHints">Enter the Name of the Co Producer</div>

                            </div>
                        </div>

                    </div>
                </form>

            </p-card>
            <p-card header="Artistic" class="p-col">
              <p-header>
                <div #artisticcard></div>
              </p-header>
                <form [formGroup]="artisticDetails">

                    <div class="p-grid p-dir-col p-justify-around">
                        <div class="p-col">
                            <div class="p-grid p-dir-col p-justify-between">

                                <label class="p-col">Artistic Director</label>
                                <input class="p-col" pInputText placeholder="Enter the Name of the Artistic Director" formControlName="artisticDirector">
                                <div class="p-col p-align-end" *ngIf="showHints">Enter the Name of the Artistic Director</div>
                            </div>
                        </div>
                        <div class="p-col">
                            <div class="p-grid p-dir-col p-justify-between">
                                <label class="p-col">Music Director</label>
                                <input class="p-col" pInputText placeholder="Enter the Name of the Music Director" formControlName="musicDirector">
                                <div class="p-col p-align-end" *ngIf="showHints">Enter the Name of the Music Director</div>
                            </div>
                        </div>
                        <div class="p-col">
                            <div class="p-grid p-dir-col p-justify-between">
                                <label class="p-col">Choreographer</label>
                                <input class="p-col" pInputText placeholder="Enter the Name of the Choreographer" formControlName="choreographer">
                                <div class="p-col p-align-end" *ngIf="showHints">Enter the Name of the Choreographer</div>

                            </div>
                        </div>

                    </div>
                </form>
            </p-card>
            <p-card header="Other" class="p-col">
              <p-header>
                <div #othercard></div>
              </p-header>
                <form [formGroup]="extraDetails">

                    <div class="p-grid p-dir-col p-justify-around">
                        <div class="p-col">
                            <div class="p-grid p-dir-col p-justify-between">

                                <label class="p-col">TV Network</label>
                                <input class="p-col" pInputText placeholder="Enter the Name of the TV Network" formControlName="TVNetwork">
                                <div class="p-col p-align-end" *ngIf="showHints">Enter the Name of the TV Network</div>
                            </div>
                        </div>
                        <div class="p-col">
                            <div class="p-grid p-dir-col p-justify-between">
                                <label class="p-col">Venue</label>
                                <input class="p-col" pInputText placeholder="Enter the Name of the Venue" formControlName="venue">
                                <div class="p-col p-align-end" *ngIf="showHints">Enter the Name of the Venue</div>

                            </div>

                        </div>
                    </div>
                </form>
            
            </p-card>
            <p-messages [(value)]="messages"></p-messages>

            <div class="p-grid p-justify-end p-align-center">
                <button pButton (click)="cancelEditProductionClick()" label="Cancel"></button>
                <button pButton color="primary" (click)="saveProductionClick()" label="Save"></button>

            </div>
        </div>

    </div>
    <div class="p-col-3">
        <div class="p-grid p-dir-col">

            <button class="p-col" pButton (click)="scrollToBasic()">go Basic</button>
            <button class="p-col" pButton (click)="scrollToRoles()">go Roles</button>
            <button class="p-col" pButton (click)="scrollToCasting()">go Casting</button>
            <button class="p-col" pButton (click)="scrollToProduction()">go Production</button>
            <button class="p-col" pButton (click)="scrollToArtistic()">go Artistic</button>
            <button class="p-col" pButton (click)="scrollToOther()">go Other</button>
            <button class="p-col" pButton color="primary" (click)="saveProductionClick()">Save</button>
            <button class="p-col" pButton color="primary" (click)="deleteProductionClick()">Delete</button>
            <button class="p-col" pButton color="primary" (click)="cancelEditProductionClick()">Cancel</button>
        </div>


    </div>

</div>


