/* Absolute Center Spinner */



/*
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@mixin primary-color($theme) {

  $primary: map-get($theme, primary);

  .mat-card-header, mat-card-header {
        background: mat-color($primary) !important;
       }

}*/
/*
@import '../../../../../_variables.scss';
*/
:host {
  height:100%;
}


.production_card {
  margin-left:16px;
  margin-right:16px;
}
/*
mat-card-header {
  background-color: $primary;
}*/
mat-form-field, .mat-form-field
{
  width:100%;
}
.my-form-field {
  /*margin-bottom:24px;*/
}
.mokformfield
{
  width:100%;
  padding-bottom:1.34375em;
}
.mokformfield mat-label, .mokformfield mat-radion-group
{
 display:block;
}