<h1>{{data.title}}</h1>
<div>{{data.confirmationMessage}}</div>
<div>
  <button style="color: #fff;background-color: #153961;">{{data.yesText}}</button>
  <button (click)="dialogRef.close(false)">{{data.noText}}</button>
</div>