<p-sidebar [(visible)]="display">
  Content
  <ui-view #sidePulloutContainerView name="nav"></ui-view>

</p-sidebar>
<div class="p-grid p-dir-col">
  <header class="p-col">
       <div class="casting_wrapper">
         <button type="text" (click)="display = true" pButton icon="pi pi-plus" label="Show"></button>

        <span>My Application</span>
      </div>

    <ngx-loading-bar></ngx-loading-bar>
  </header>
  <main class="p-col"><!-- fxFlex="1 1 calc(100% - 138.626px)"-->
    <ui-view #sidePulloutContainerView name="main"></ui-view>
  
  </main>

 
  <footer class="p-col">
       <div class="casting_wrapper">
        <span>My Application</span>
      </div>
   </footer>
</div>
