<p-card>
  <div class="p-grid p-dir-col">
    <div class="p-col">
      <a (click)="viewDetails()">{{detail.name}}</a>
    </div>
    <div class="p-col">
        <div class="p-grid p-dir-col p-align-start p-nogutter">
            <div class="p-col labeler">Location</div>
            <div class="p-col infodata">{{detail.location}}</div>
            <div *ngIf="detail.locationDetail && detail.locationDetail.length > 0" class="p-col">
              <a class="linktoggler" (click)="locationDetail.toggle($event)">Location details..</a>
            </div>

            <p-overlayPanel #locationDetail>
                <pre>{{detail.locationDetail | linebreak}}</pre>
            </p-overlayPanel>
        </div>
    </div>
    <div class="p-col" *ngIf="detail.details && detail.details.length > 0">
      <div class="p-grid p-dir-col p-align-start p-nogutter">
        <div class="p-col">   
          <a class="linktoggler" (click)="details.toggle($event)">Shoot details..</a>
        </div>
        <p-overlayPanel #details>
          <pre>{{detail.details | linebreak}}</pre>
        </p-overlayPanel>
      </div>
    </div>
    <div class="p-col" *ngIf="detail.instructions && detail.instructions.length > 0">
      <div class="p-grid p-dir-col p-align-start p-nogutter">
        <div class="p-col">   
          <a class="linktoggler" (click)="instructions.toggle($event)">Special instructions..</a>
        </div>
        <p-overlayPanel #instructions>
          <pre>{{detail.instructions | linebreak}}</pre>
        </p-overlayPanel>
      </div>
    </div>
    <div class="p-col">
      <div class="p-grid p-dir-col p-align-start p-nogutter">
          <div class="p-col labeler" *ngIf="detail.isOneDayOnly">Event Date</div>
        <div class="p-col labeler" *ngIf="!detail.isOneDayOnly">Start Date</div>
        <div *ngIf="!detail.datesToBeDecidedLater" class="p-col infodata">{{detail.startDate | date}}</div>
        <div class="p-col infodata" *ngIf="detail.datesToBeDecidedLater">To be decided later</div>
        <div class="p-col hotinfodata" *ngIf="detail.isOneDayOnly">This is a one day only event</div>
        <div class="p-col labeler" *ngIf="!detail.isOneDayOnly">End Date</div>
        <div class="p-col infodata" *ngIf="!detail.datesToBeDecidedLater && !detail.isOneDayOnly">{{detail.endDate | date}}</div>
        <div class="p-col infodata" *ngIf="detail.datesToBeDecidedLater && !detail.isOneDayOnly">To be decided later</div>
        <div class="p-col hotinfodata" *ngIf="detail.datesAreTemptative">Dates are tentative</div>
      </div>
    </div>
  </div>
  <p-footer>
    <a class="pi pi-pencil" (click)="viewDetails()"></a>
    <a class="pi pi-trash" (click)="deleteDetails()"></a>
  </p-footer>
</p-card>