.full-width {
  width: 100%;
  max-width: 350px;
}

.example-radio-group {
  display: inline-flex;
  flex-direction: column;
}

.example-radio-button {
  margin: 5px;
}

.example-selected-value {
  margin: 15px 0;
}

.video {
  box-shadow: 1px 6px 10px 2px rgba(35, 35, 35, 0.62);
  /*height: 600px;
  max-height: 800px;*/ 
  width: 100%;
  margin:0 auto;
}

.row {
  margin-bottom: 20px;
}
.col {
 
}