
    <h2 mat-dialog-title>What to do with this new ckip?</h2>
    <mat-dialog-content>
    <div class="row">
                <div class="col-xs-12">
                    <video #playbackVideoElement class="video"></video>
                </div>
            </div>
      <form [formGroup]="clipDestinationInfo">
        <div class="row">
          <div class="col">
            <mat-radio-group class="example-radio-group" formControlName="destination" [(ngModel)]="uploadDestination" (change)="uploadDestinationChange($event)">
              <mat-radio-button class="example-radio-button" [value]="1">Talent Profile</mat-radio-button>
              <mat-radio-button class="example-radio-button" [value]="3">Director's basket</mat-radio-button>
            </mat-radio-group>

                  
          </div>
        </div>
   


        <div class="row">
          <div class="col">

            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Your role in the production-role-casting industry</mat-label>
              <mat-select [disabled]="uploadDestination == 3" (selectionChange)="roleChange($event)" placeholder="Your role" formControlName="role" [(ngModel)]="selectedRole" required>
                <mat-option value="0">--</mat-option>
                <mat-option *ngFor="let role of roles" [value]="role">
                  {{role.name}}
                </mat-option>


              </mat-select>
              <mat-error *ngIf="clipDestinationInfo.controls['role'].hasError('required')">
                Your role selection is <strong>required</strong>
              </mat-error>
              <mat-hint align="end">Select a role</mat-hint>
            </mat-form-field>

          </div>
        </div>
        <div class="row">
          <div class="col">

            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Your role in the production-role-casting industry</mat-label>
              <mat-select [disabled]="uploadDestination == 3" (selectionChange)="talentChange($event)" placeholder="Your role" formControlName="talent" [(ngModel)]="selectedTalent" required>
                <mat-option>--</mat-option>
                <mat-option *ngFor="let talent of selectedRole.talents" [value]="talent">
                  {{talent.name}}
                </mat-option>


              </mat-select>
              <mat-error *ngIf="clipDestinationInfo.controls['talent'].hasError('required')">
                Your role selection is <strong>required</strong>
              </mat-error>
              <mat-hint align="end">Select a role</mat-hint>
            </mat-form-field>

          </div>
        </div>
      </form>
      <mat-dialog-actions>
        <button mat-button matTooltip="Disguarde this clip" (click)="discardClick()">Discard</button>
        <button mat-button matTooltip="Upload this clip" (click)="upload()">Upload</button>
        <button mat-button matTooltip="Keep this clip for later" (click)="saveMe()" cdkFocusInitial>Keep</button>
      </mat-dialog-actions>

    </mat-dialog-content>
   