 .mat-form-field.email  {
   /*   display: flex;
 max-width: 350px;*/
 }
 .mat-form-field.names  {
   /*   max-width: 300px;*/
 }
 .mat-form-field.roleOther  {
   /*  max-width: 250px;*/
 }
 
 .mat-form-field.roles  {
   /* max-width: 250px;*/
 }

 .mat-form-field.password  {
   /* max-width: 250px;*/
 }

 .mat-form-field.username  {
  /* max-width: 250px;*/
 }

 
 .full-width {
   width: 100%;
   max-width: 350px;
 }

 .row {
   display: flex;
   flex-direction: row;
 }

 .col {
   flex: 1;
   margin-right: 20px;
 }
 .col:last-child {
   margin-right: 0;
 }
