
<p-steps [model]="formSteps" [readonly]="false" [(activeIndex)]="activeStepIndex"></p-steps>

<p-card *ngIf="activeStepIndex == 1" header="Fill out your basic user information">

    <form [formGroup]="basicUserInfo">
        <div class="p-grid p-dir-col p-justify-around">
            <div class="p-col">

                <div class="p-grid p-dir-col p-justify-between email">
                    <label class="p-col">Your email</label>
                    <div class="ui-inputgroup">
                        <input pInput placeholder="Email" type="email" formControlName="email">
                        <p-progressSpinner *ngIf="isSearchingEmail" [style]="{width: '20px', height: '20px'}" strokeWidth="8" fill="#EEEEEE" animationDuration=".5s"></p-progressSpinner>
                        <i class="pi pi-check-circle" *ngIf="(emailHasBeenChecked && emailIsAvailable && !isSearchingEmail)"></i>
                        <i class="pi pi-times-circle" *ngIf="(emailHasBeenChecked && !emailIsAvailable && !isSearchingEmail)"></i>
                    </div>
                    <p-message text="Email is <strong>already in use</strong>" class="p-col" severity="error" *ngIf="basicUserInfo.controls['email'].hasError('emailTaken') && basicUserInfo.controls['email'].dirty">
                        
                    </p-message>
                    <p-message text="Email is <strong>required</strong>" class="p-col" severity="error" *ngIf="basicUserInfo.controls['email'].hasError('required') && basicUserInfo.controls['email'].dirty">
                        
                    </p-message>
                    <p-message text="Email format is <strong>incorrect</strong>" class="p-col" severity="error" *ngIf="basicUserInfo.controls['email'].hasError('email') && basicUserInfo.controls['email'].dirty">
                        
                    </p-message>
                    <div class="p-col p-align-end">e.g. name@company.com</div>
                </div>
            </div>
            <div class="p-col">


                <div class="p-grid p-dir-col p-justify-between names">
                    <label class="p-col">Your first names</label>
                    <input class="p-col" pInput placeholder="First names" formControlName="firstNames">
                    <p-message text="Some first name is <strong>required</strong>" class="p-col" severity="error" *ngIf="basicUserInfo.controls['firstNames'].hasError('required') && basicUserInfo.controls['firstNames'].dirty">
                        
                    </p-message>
                    <div class="p-col p-align-end">e.g. Billy Ray Bob</div>
                </div>
            </div>
            <div class="p-col">

                <div class="p-grid p-dir-col p-justify-between names">
                    <label class="p-col">Your last names</label>
                    <input class="p-col" pInput placeholder="Last names" formControlName="lastNames">
                    <p-message text="Some last name is <strong>required</strong>" class="p-col" severity="error" *ngIf="basicUserInfo.controls['lastNames'].hasError('required') && basicUserInfo.controls['lastNames'].dirty">
                        
                    </p-message>
                    <div class="p-col p-align-end">e.g. Cohen Johnson De La Renta</div>
                </div>
            </div>
            <div class="p-col">


                <div class="p-grid p-dir-col p-justify-between roles">
                    <label class="p-col">Your role in the production-role-casting industry</label>
                    <p-dropdown class="p-col" [options]="roleGroups" [group]="true" autoWidth="false" #role placeholder="Your role" formControlName="role" required>
                        <ng-template let-item pTemplate="selectedItem">
                            <b>{{item.label}}</b> <!-- highlighted selected item -->
                        </ng-template>
                        <ng-template let-item pTemplate="item">
                            {{item.label}}
                        </ng-template>
                        <ng-template let-group pTemplate="group">
                            <span style="margin-left:.25em">{{group.label}}</span>
                        </ng-template>
                    </p-dropdown>

                    <p-message text="Your role selection is <strong>required</strong>" class="p-col" severity="error" *ngIf="basicUserInfo.controls['role'].hasError('required') && basicUserInfo.controls['role'].dirty">
                        
                    </p-message>
                    <div class="p-col p-align-end">Select a role</div>
                </div>
            </div>
            <div class="p-col">

                <div class="p-grid p-dir-col p-justify-between roleOther" *ngIf="roleOtherIsShowed">
                    <label class="p-col">Tell us what exactly</label>
                    <input class="p-col" pInput placeholder="Specify" formControlName="roleOther">
                    <p-message text="Telling us something is <strong>required</strong>" class="p-col" severity="error" *ngIf="basicUserInfo.controls['roleOther'].hasError('required') && basicUserInfo.controls['roleOther'].dirty">
                        
                    </p-message>
                    <div class="p-col p-align-end">Specify a bit more about what you do</div>
                </div>

            </div>
           
        </div>
    </form>
    <p-messages [(value)]="messages"></p-messages>

    <div>
        <button (click)="moveToRegistterStep()">Next</button>
     </div>
</p-card>




<p-card *ngIf="activeStepIndex == 2" header="Fill out your address">
    <form [formGroup]="userLoginInfo">
        <div class="p-grid p-dir-col p-justify-around">
            <div class="p-col">
                <div class="p-grid p-dir-col p-justify-between username">
                    <label class="p-col">Choose your username</label>
                    <div class="ui-inputgroup">
                        <input pInput placeholder="Username" type="text" formControlName="username">
                        <p-progressSpinner *ngIf="isSearchingUsername" [style]="{width: '20px', height: '20px'}" strokeWidth="8" fill="#EEEEEE" animationDuration=".5s"></p-progressSpinner>
                        <i class="pi pi-check-circle" *ngIf="(usernameHasBeenChecked && usernameIsAvailable && !isSearchingUsername)"></i>
                        <i class="pi pi-times-circle" *ngIf="(usernameHasBeenChecked && !usernameIsAvailable && !isSearchingUsername)"></i>
                    </div>
                    <p-message text="Username is <strong>already in use</strong>" class="p-col" severity="error" *ngIf="userLoginInfo.controls['username'].hasError('usernameTaken') && userLoginInfo.controls['username'].dirty">
                        
                    </p-message>
                    <p-message text="Username is <strong>required</strong>" class="p-col" severity="error" *ngIf="userLoginInfo.controls['username'].hasError('required') && userLoginInfo.controls['username'].dirty">
                        
                    </p-message>
                    <div class="p-col p-align-end">e.g. bobthepanther</div>
                </div>
            </div>
            <div class="p-col">
                <div class="p-grid p-dir-col p-justify-between password">
                    <label class="p-col">Chose a password</label>
                    <input class="p-col" pInput placeholder="Your new password" formControlName="password">
                    <p-message text="Password is <strong>required</strong>" class="p-col" severity="error" *ngIf="userLoginInfo.controls['password'].hasError('required') && userLoginInfo.controls['password'].dirty">
                        
                    </p-message>
                    <p-message text="Password must be 5 characters long <strong>required</strong>" class="p-col" severity="error" *ngIf="userLoginInfo.controls['password'].hasError('minlength') && userLoginInfo.controls['password'].dirty">
                        
                    </p-message>
                    <div class="p-col p-align-end">Your new password</div>
                </div>
            </div>
            <div class="p-col">
                <div class="p-grid p-dir-col p-justify-between password">
                    <label class="p-col">Re-enter your chosen password</label>
                    <input class="p-col" pInput placeholder="Re-enter password" formControlName="passwordCompare">
                    <p-message text="Password repeat is <strong>required</strong>" class="p-col" severity="error" *ngIf="userLoginInfo.controls['passwordCompare'].hasError('required') && userLoginInfo.controls['passwordCompare'].dirty">
                        
                    </p-message>
                    <p-message text="Passwords <strong>must match</strong>" class="p-col" severity="error" *ngIf="userLoginInfo.controls['passwordCompare'].hasError('compare') && userLoginInfo.controls['passwordCompare'].dirty">
                        
                    </p-message>
                    <div class="p-col p-align-end">Re-enter password</div>
                </div>

            </div>
           
        </div>
    </form>
    <p-messages [(value)]="messages"></p-messages>

    <div>
        <button pButton (click)="moveToStep(1)">Back</button>
        <button pButton (click)="register()">Register</button>
    </div>
</p-card>


<p-card *ngIf="activeStepIndex == 3" header="Done">
    You are now done.
    <div>
        <button pButton (click)="stepper.reset()">Reset</button>
    </div>
</p-card>

