<p-card>
  
  <h1 >Media Device Setting</h1>
    <div>

        <p>Select the audio input device: </p>
        <mat-radio-group class="example-radio-group" value="audioSource" (ngModel)="audioRadioGroup"
                         (change)="audioChange($event)">
            <mat-radio-button class="example-radio-button" *ngFor="let device of audioDeviceInfos" [value]="device">
                {{device.label}}
            </mat-radio-button>
        </mat-radio-group>

        
        <p>Select the audio output device: </p>
        <mat-radio-group class="example-radio-group" (ngModel)="audioOutputRadioGroup"
                         (change)="audioOutputChange($event)">
            <mat-radio-button class="example-radio-button" *ngFor="let device of audioOutputDeviceInfos" [value]="device">
                {{device.label}}
            </mat-radio-button>
        </mat-radio-group>
      <p>Select the video input device: </p>
      <mat-radio-group class="example-radio-group" value="videoSource" (ngModel)="videoRadioGroup"
                       (change)="videoChange($event)">
        <mat-radio-button class="example-radio-button" *ngFor="let device of videoDeviceInfos" [value]="device">
          {{device.label}}
        </mat-radio-button>
      </mat-radio-group>

      <mat-button-toggle-group #group="matButtonToggleGroup">
         <mat-button-toggle value="qvgaConstraints">QVGA</mat-button-toggle>
        <mat-button-toggle value="vgaConstraints">VGA</mat-button-toggle>
        <mat-button-toggle value="hdConstraints">HD</mat-button-toggle>
        <mat-button-toggle value="fullHdConstraints">Full HD</mat-button-toggle>
        <mat-button-toggle value="fourKConstraints">4K</mat-button-toggle>
        <mat-button-toggle value="eightKConstraints">8K</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="onNoClick()">No Thanks</button>
        <button mat-button (click)="saveMediaSourcesClick()" [disabled]="(!audioSource || !videoSource)" cdkFocusInitial>Save</button>
    </div>
</p-card>