<app-recording-item *ngFor="let blob of this.blobs; trackBy: this.trackByFn" [blobUploadState]="blob"></app-recording-item>

<!--<cdk-virtual-scroll-viewport itemSize="10" class="example-viewport">
  <app-recording-item *cdkVirtualFor="let blob of this.blobs; trackBy: this.trackByFn" [blobUploadState]="blob"></app-recording-item>
</cdk-virtual-scroll-viewport>-->




