<p-dialog header="Audition Details" #detaildialog
          [focusOnShow]="false" [responsive]="false" styleClass="dialogsizer" (onShow)="onDialogShow($event, detaildialog)" (onHide)="onDialogHide($event, detaildialog)" [(visible)]="isVisible" [modal]="true" [minY]="70"
          [maximizable]="true" [baseZIndex]="10000">
    <p-card header="Enter the audition details">
        <!--[breakpoint]="640" [responsive]="true" [style]="{width: '80%', minWidth: '640px'}"-->

        <form [formGroup]="basicDialogInfo" #formDirective="ngForm">
            <div class="p-grid p-dir-col p-justify-around">
              <div class="p-col">
                <div class="p-grid p-dir-col p-justify-between">

                  <label class="p-col">Internal Name (for your use only)</label>
                  <input class="p-col" #name pInputText placeholder="Internal Name" formControlName="name" required>
                  <p-message class="p-col" severity="error" text="Internal Name is <strong>required</strong>" *ngIf="basicDialogInfo.controls['name'].hasError('required') && basicDialogInfo.controls['name'].dirty"></p-message>
                </div>
              </div>
              <div class="p-col">
                <div class="p-grid p-dir-col p-justify-between">
                  <label class="p-col">Audition Format</label>
                  <p-radioButton #auditionType class="p-col" (onClick)="auditionTypeOptionClick(auditionTypeEnum.InPersonAuditionOnly)" name="auditionType" value="15" label="In person auditions" formControlName="auditionType"></p-radioButton>
                  <p-radioButton class="p-col" (onClick)="auditionTypeOptionClick(auditionTypeEnum.TapedSubmissionThenInPersonAudition)" name="auditionType" value="7" label="Taped audition submissions followed by in person auditions" formControlName="auditionType"></p-radioButton>
                  <p-radioButton class="p-col" (onClick)="auditionTypeOptionClick(auditionTypeEnum.TapedSubmissionAndInPersonAudition)" name="auditionType" value="3" label="Taped audition submissions OR in person auditions" formControlName="auditionType"></p-radioButton>
                  <p-radioButton class="p-col" (onClick)="auditionTypeOptionClick(auditionTypeEnum.TapedSubmissionsOnly)" name="auditionType" value="1" label="Taped audition submissions" formControlName="auditionType"></p-radioButton>
                  <p-message severity="error" class="p-col" text="CastingCall Type is <strong>required</strong>" *ngIf="basicDialogInfo.controls['auditionType'].hasError('required') && basicDialogInfo.controls['auditionType'].dirty">
                  </p-message>
                  <div class="p-col" *ngIf="showHints">e.g. 'Batman lives'</div>

                </div>
              </div>
              <div class="p-col">
                <div class="p-grid p-align-start switchoffset">
                  <p-inputSwitch styleClass="p-col" formControlName="onlyThoseSelectedWillParticipate"></p-inputSwitch>
                  <label class="p-col">Only selected candidates will audition</label>
                </div>
              </div>

                <div *ngIf="isInPersonAudition" class="p-col">
                    <div class="p-grid p-dir-col p-justify-between">

                        <label class="p-col">Audition Location</label>
                        <input class="p-col" pInputText #location placeholder="Location name" formControlName="location" required>
                        <p-message styleClass="p-col" severity="error" text="Location name is <strong>required</strong>" *ngIf="basicDialogInfo.controls['location'].hasError('required') && basicDialogInfo.controls['location'].dirty"></p-message>
                    </div>
                </div>
                <div *ngIf="isInPersonAudition" class="p-col">
                    <div class="p-grid p-dir-col p-justify-between">

                        <label class="p-col">Location Details</label>
                        <textarea class="p-col" rows="6" #locationDetail pInputTextarea placeholder="Location details" formControlName="locationDetail"></textarea>
                    </div>
                </div>
                <div class="p-col">
                    <div class="p-grid p-dir-col p-justify-between">

                        <label class="p-col">Audition Details</label>
                        <textarea class="p-col" rows="3" pInputTextarea placeholder="Audition Details" formControlName="details"></textarea>
                    </div>
                </div>
              <div class="p-col">
                <div class="p-grid p-dir-col p-justify-between">

                  <label class="p-col">Special Instructions</label>
                  <textarea class="p-col" rows="3" pInputTextarea placeholder="Special instructions" formControlName="instructions"></textarea>
                </div>
              </div>

              <div *ngIf="isInPersonAudition" class="p-col">
                <div class="p-grid p-align-start switchoffset">
                  <p-inputSwitch styleClass="p-col" formControlName="datesToBeDecidedLater" (onChange)="clickDateDecisionSwitch($event)"></p-inputSwitch>
                  <label class="p-col">Audition dates will be decided at a later time</label>
                </div>
              </div>

                <div *ngIf="isInPersonAudition" class="p-col">
                    <div class="p-grid p-align-start">

                        <div class="p-col-12 p-md-6">
                            <div class="p-grid p-dir-col">
                                <label class="p-col">Audition Start Date</label>
                                <p-calendar [inputStyleClass]="p-col" #startDate required formControlName="startDate" (onSelect)="selectStartDate($event)" dataType="string" placeholder="Start Date" dateFormat="DD MM d yy" [minDate]="minDate" [showIcon]="true" [readonlyInput]="true"></p-calendar>
                                <p-message styleClass="p-col" severity="error" text="Start Date is <strong>required</strong>" *ngIf="basicDialogInfo.controls['startDate'].hasError('required') && basicDialogInfo.controls['startDate'].dirty"></p-message>
                            </div>
                        </div>
                        <div class="p-col-12 p-md-6">
                            <div class="p-grid p-align-start switchoffset">
                                <p-inputSwitch styleClass="p-col" formControlName="isOneDayOnly" (onChange)="clickOneDaySwitch($event)"></p-inputSwitch>
                                <label class="p-col">This is a 1 day only audition</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="isInPersonAudition" class="p-col">
                    <div class="p-grid p-dir-col p-justify-between">
                        <label class="p-col">Audition End Date</label>
                        <p-calendar [inputStyleClass]="p-col" #endDate formControlName="endDate" required dateFormat="DD MM d yy" (onSelect)="selectEndDate($event)" [minDate]="minDate" placeholder="End Date" [showIcon]="true" [readonlyInput]="true"></p-calendar>
                        <p-message styleClass="p-col" severity="error" text="End Date is <strong>required</strong> unless this is a 1 day only event." *ngIf="basicDialogInfo.controls['endDate'].hasError('required') && basicDialogInfo.controls['endDate'].dirty"></p-message>
                    </div>
                </div>
              <div *ngIf="isInPersonAudition" class="p-col">
                <div class="p-grid p-align-start switchoffset">
                  <p-inputSwitch styleClass="p-col" formControlName="datesAreTemptative"></p-inputSwitch>
                  <label class="p-col">Audition dates are temptative</label>
                </div>
              </div>


            </div>
        </form>
        <p-messages [(value)]="messages"></p-messages>

    </p-card>
    <p-footer>
        <button type="button" [disabled]="saveIsDisabled" pButton icon="pi pi-check" (click)="saveClick()" label="Save"></button>
        <button type="button" [disabled]="cancelIsDisabled" pButton icon="pi pi-close" (click)="cancelClick()" label="Cancel" class="ui-button-secondary"></button>
    </p-footer>
</p-dialog>

