﻿@import '~@angular/material/theming';


$app-primary: mat-palette($mat-grey);
$app-accent:  mat-palette($mat-light-blue);
$app-warn:    mat-palette($mat-pink);
@mixin primary-color($theme) {

  $primary: map-get($theme, primary);

 
}
$primary: mat-color($app-primary);
$accent: mat-color($app-accent);
$warn: mat-color($app-warn);