/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; height: 100%;}
a:hover {
    cursor:pointer;
    color:purple;
}
.casting_wrapper, main {
    max-width:1280px;
    width:96%;
    margin-left:auto;
    margin-right:auto;
    padding:16px;

}
.logindialog-overlay {
   /* background: black;*/
}

.logindialog-panel {
    // important is used because MatDialog applies css to the elements
    max-width: none !important;
    max-height: none !important;
    /*width: calc(100% - 2em) !important;
    height: calc(100% - 2em) !important;*/
    width: calc(100%) !important;
    height: calc(100%) !important;
}

.labeler {
    font-size:x-small;
    font-weight:bold;
 }
.linktoggler {
    font-size:x-small;
    font-weight:bold;
 }
.infodata
{
       padding-left:10px !important;

}
.hotinfodata {
    font-weight:bold;
     font-size:small;
         padding-left:10px !important;

}
.midlelabeler {
    font-size:small;
}
.cast_scroll_container{
    height:100%;
}
.scroll_me_wrapper {
 position:relative;
}
.scroll_me {
 
position: absolute;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.dialogsizer {
    width:80%;
    min-width:640px;
}
 .switchoffset {
      margin-top:initial;
  }
@media screen and (min-width: 767px) {
  .dialogsizer {
      
     }
  .switchoffset {
      margin-top: 25px;
  }
}
@media screen and (max-width: 639px) {
  .dialogsizer {
    width:100%;
    min-width:100%;
    }
}