<p-card header="{{production.name}}">

    <div class="p-grid p-dir-col p-justify-between">
        <div class="p-col">
            <div class="p-grid p-justify-start">
                <div class="p-col-6">
                    <div class="p-grid p-justify-start">
                        <div class="p-col-8">
                            <span>Production Type:</span>
                        </div>
                        <div class="p-col-4">
                            <span class="valuelabel">{{production.productionType.name}}</span>
                        </div>
                    </div>
                </div>
                <div class="p-col-6">
                    <div class="p-grid p-justify-start">
                        <div class="p-col-8">
                            <span>Role Count:</span>
                        </div>
                        <div class="p-col-4">
                            <span class="valuelabel">{{production.roles.length}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="p-col">
            <div class="p-grid p-justify-start">
                <div class="p-col-6">
                    <div class="p-grid p-justify-start">
                        <div class="p-col-8">
                            <span>CastingCall Count:</span>
                        </div>
                        <div class="p-col-4">
                            <span class="valuelabel">{{production.castingCalls.length}}</span>
                        </div>
                    </div>
                </div>
                <div class="p-col-6">
                    <div class="p-grid p-justify-start">
                        <div class="p-col-8">
                            <span>Casting Session Count:</span>
                        </div>
                        <div class="p-col-4">
                            <span class="valuelabel">{{production.castingSessions.length}}</span>
                         </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <p-footer>
        <a uiSref="production" [uiParams]="{ productionId:production.id }">{{production.name}}</a>
        <a pButton uiSref="editproduction" [uiParams]="{ productionId:production.id }">Edit</a>
        <a pButton uiSref="production" [uiParams]="{ productionId:production.id }">View</a>
    </p-footer>
</p-card>
