
mat-dialog-content {
    overflow:visible !important;
}
.role_card {
 /* margin-left:16px;
  margin-right:16px;*/
}
/*mat-card-header {
  background-color: $primary;
}*/
mat-form-field, .mat-form-field
{
  width:100%;
}
mat-slider {
    display:block;
}
.smallage{
    width:90%;
} 