<div fxLayout="column" fxLayoutAlign="start stretch">
  <button mat-raised-button (click)="scrollToBasic()">go Basic</button>
  <button mat-raised-button (click)="scrollToRoles()">go Roles</button>
  <button mat-raised-button (click)="scrollToCasting()">go Casting</button>
  <button mat-raised-button (click)="scrollToProduction()">go Production</button>
  <button mat-raised-button (click)="scrollToArtistic()">go Artistic</button>
  <button mat-raised-button (click)="scrollToOther()">go Other</button>
  <button mat-raised-button (click)="saveProductionClick()">Save</button>
  <button mat-raised-button (click)="deleteProductionClick()">Delete</button>
  <button mat-raised-button (click)="cancelEditProductionClick()">Cancel</button>

     
</div>