﻿<!-- /Views/Home/NgApp.cshtml -->
@{
    ViewBag.Title = "Home Page";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    
    <meta charset="utf-8">
    <title>TalentApp</title>
    <base href="/">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

   
    @Styles.Render("~/Content/css")
</head>
<body>
    <ui-view>Loading...</ui-view>
<script type="text/javascript" src="scripts/ngapp/talent-app/runtime.js"></script>
<script type="text/javascript" src="scripts/ngapp/talent-app/polyfills.js"></script>
<script type="text/javascript" src="scripts/ngapp/talent-app/styles.js"></script>
<script type="text/javascript" src="scripts/ngapp/talent-app/vendor.js"></script>
<script type="text/javascript" src="scripts/ngapp/talent-app/main.js"></script>
    
</body>
</html>