<p-card header="{{role.name}}">

    <div class="p-grid p-dir-col p-justify-between">
        <div class="p-col" *ngIf="role.roleGenderTypeId !== 0 || role.roleTypeId !== 0 || role.requiresNudity || role.transgender">
           <!-- <mat-chip-list fxLayout="row" fxLayoutAlign="end">
                <mat-chip *ngIf="role.requiresNudity" color="warn" selected="true">Requires Nudity</mat-chip>
                <mat-chip *ngIf="role.transgender" color="accent" selected="true">Transgendered</mat-chip>
                <mat-chip *ngIf="role.roleGenderTypeId !== 0" color="primary" selected="true">{{role.roleGenderType.name}}</mat-chip>
                <mat-chip *ngIf="role.roleTypeId !== 0" color="primary" selected="true">{{role.roleType.name}}</mat-chip>
            </mat-chip-list>-->
        </div>
        <div class="p-col">
            <div *ngIf="role.languages.length > 0" class="p-grid p-justify-start">
                <div class="p-col-4">
                    Languages:
                </div>
                <div class="p-col-8">
                    <span *ngFor="let language of role.languages; last as islast">{{language.language.name}}<span *ngIf="!islast">, </span></span>
                </div>
            </div>
        </div>
        <div class="p-col">
            <div *ngIf="role.accents.length > 0" class="p-grid p-justify-start">
                <div class="p-col-4">
                    Accents:
                </div>
                <div class="p-col-8">
                    <span *ngFor="let accent of role.accents; last as islast">{{accent.accent.name}}<span *ngIf="!islast">, </span></span>
                </div>
            </div>
        </div>
        <div class="p-col">
            <div *ngIf="role.ethnicities.length > 0" class="p-grid p-justify-start">
                <div class="p-col-4">
                    Ethicity:
                </div>
                <div class="p-col-8">
                    <span *ngFor="let ethnicity of role.ethnicities; last as islast">{{ethnicity.ethnicity.name}}<span *ngIf="!islast">, </span></span>
                </div>
            </div>
        </div>
        <div class="p-col">
            <div *ngIf="role.stereoTypes.length > 0" class="p-grid p-justify-start">
                <div class="p-col-4">
                    Stereotypes:
                </div>
                <div class="p-col-8">
                    <span *ngFor="let stereoType of role.stereoTypes; last as islast">{{stereoType.stereoType.name}}<span *ngIf="!islast">, </span></span>
                </div>
            </div>
        </div>
        <div class="p-col">
            <div *ngIf="role.ethnicStereoTypes.length > 0" class="p-grid p-justify-start">
                <div class="p-col-4">
                    Ethic Stereotypes:
                </div>
                <div class="p-col-8">
                    <span *ngFor="let ethnicStereoType of role.ethnicStereoTypes; last as islast">{{ethnicStereoType.ethnicStereoType.name}}<span *ngIf="!islast">, </span></span>
                </div>
            </div>
        </div>

    </div>

    <p-footer>
        <button pButton (click)="deleteRoleClick(role)" class="ui-button-secondary" label="Delete Role"></button>
        <button pButton (click)="editRoleClick(role)" label="Edit Role"></button>
    </p-footer>
</p-card>
