
<div class="p-grid">
    <div class="p-col-9">
        <div class="p-grid p-dir-col p-justify-between">
            <form [formGroup]="basicCastingCallInfo">

                <p-card class="p-col" header="Create a new castingCall">
                    <p-header>
                        <div #basiccard></div>
                    </p-header>
                    <div class="p-grid p-dir-col p-justify-around">
                        <div class="p-col">
                            <div class="p-grid p-dir-col p-justify-between">
                                <label class="p-col">Name of CastingCall</label>
                                <input class="p-col" pInput placeholder="{{namePlaceHolder}}" #name formControlName="name" required>
                                <p-message severity="error" class="p-col" text="CastingCall Name is <strong>required</strong>" *ngIf="basicCastingCallInfo.controls['name'].hasError('required') && basicCastingCallInfo.controls['name'].dirty"></p-message>
                                <div class="p-col" *ngIf="showHints">e.g. 'Batman lives'</div>
                            </div>
                        </div>
                        <div class="p-col">
                            <div class="p-grid p-dir-col p-justify-between">
                                <label class="p-col">CastingCall Type</label>
                                <p-dropdown class="p-col" [options]="metadata.castingCallTypes" [style]="{'width':'100%'}" optionLabel="name" autoWidth="false" #castingCallTypeId placeholder="Select a Type of CastingCall" formControlName="castingCallTypeId" required>
                                </p-dropdown>
                                <p-message severity="error" class="p-col" text="CastingCall Type is <strong>required</strong>" *ngIf="basicCastingCallInfo.controls['castingCallTypeId'].hasError('required') && basicCastingCallInfo.controls['castingCallTypeId'].dirty">

                                </p-message>
                                <div class="p-col" *ngIf="showHints">Select a Type of CastingCall</div>
                            </div>
                        </div>
                        <div class="p-col">
                            <div class="p-grid p-dir-col p-justify-between">
                                <label class="p-col">Publish this castingCall?</label>
                                <p-radioButton #castingCallViewType class="p-col" name="castingCallViewTypes" value="7" label="Make it public and visible to anyone" formControlName="castingCallViewType"></p-radioButton>
                                <p-radioButton class="p-col" name="castingCallViewTypes" value="3" label="Make it public and visible only to members" formControlName="castingCallViewType"></p-radioButton>
                                <p-radioButton class="p-col" name="castingCallViewTypes" value="1" label="Make it private and visible to only select members" formControlName="castingCallViewType"></p-radioButton>
                                <p-radioButton class="p-col" name="castingCallViewTypes" value="15" label="By invitation only" formControlName="castingCallViewType"></p-radioButton>
                                <p-message severity="error" class="p-col" text="CastingCall Type is <strong>required</strong>" *ngIf="basicCastingCallInfo.controls['castingCallViewType'].hasError('required') && basicCastingCallInfo.controls['castingCallViewType'].dirty">
                                </p-message>
                                <div class="p-col" *ngIf="showHints">e.g. 'Batman lives'</div>

                            </div>
                        </div>
                        <div class="p-col">
                            <div class="p-grid p-dir-col p-justify-between">
                                <label class="p-col">When should this castingCall expire?</label>
                                <p-calendar [inputStyleClass]="p-col" #expires required formControlName="expires" (onSelect)="selectExpireDate($event)" dataType="string" placeholder="Chose an expiration date" dateFormat="DD MM d yy" [minDate]="minDate" [showIcon]="true" [readonlyInput]="true"></p-calendar>
                                <p-message severity="error" class="p-col" text="CastingCall Expiration Date is <strong>required</strong>" *ngIf="basicCastingCallInfo.controls['expires'].hasError('required') && basicCastingCallInfo.controls['expires'].dirty">

                                </p-message>
                                <div class="p-col" *ngIf="showHints">This is the date at which this castingCall will not be publicly visible any more</div>
                            </div>
                        </div>
                        <div class="p-col">
                            <div class="p-grid p-dir-col p-justify-between">
                                <label class="p-col">Do you have any special submission or audition instructions?</label>
                                <textarea rows="3" class="p-col" pInput placeholder="e.g., 'In your cover letter, note your availability. Include a video with your submission. For the auditions, be prepared to sing. For more info about the project, visit www.example.com.'" formControlName="instructions"></textarea>
                                <div class="p-col" *ngIf="showHints">You don't need to include your email address here. Instead, you can manage your email settings in the next section.</div>
                            </div>
                        </div>

                    </div>

                </p-card>

                <p-card header="Unions" class="p-col">
                    <p-header>
                        <div #unionscard></div>
                    </p-header>
                    <div class="p-grid p-dir-col p-justify-around">
                        <div class="p-col">
                            <div class="p-grid p-dir-col p-justify-between">
                                <label class="p-col">Unions</label>
                                <p-multiSelect class="p-col" formControlName="unions" (onChange)="changeUnionSelection($event)" [options]="metadata.unions" [style]="{'width':'100%'}" optionLabel="name" autoWidth="false" placeholder="Select Unions">
                                </p-multiSelect>
                                <div class="p-col" *ngIf="showHints">Select Unions to include in the castingCall</div>
                            </div>

                        </div>
                    </div>
                </p-card>

                <p-card header="Roles" class="p-col">
                    <p-header>
                        <div #rolescard></div>
                    </p-header>

                    <div class="p-grid p-dir-col p-justify-around">
                        <div class="p-col">
                            <div class="p-grid p-dir-col p-justify-between">
                                <label class="p-col">Roles</label>
                                <p-multiSelect class="p-col" formControlName="roles" (onChange)="changeRoleSelection($event)" [options]="production.roles" [style]="{'width':'100%'}" optionLabel="name" autoWidth="false" placeholder="Select Roles">
                                </p-multiSelect>
                                <div class="p-col" *ngIf="showHints">Select Roles to include in the castingCall</div>
                            </div>

                        </div>
                    </div>
                </p-card>
                <div class="p-col">
                    <div class="p-grid p-justify-end p-align-center">
                        <button pButton (click)="cancelEditCastingCallClick()">Cancel</button>
                        <button pButton (click)="saveCastingCallClick()">Save</button>

                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="p-col-3">
        <div class="p-grid p-dir-col">


            <button pButton class="p-col" (click)="scrollToBasic()">go Basic</button>
            <button pButton class="p-col" (click)="scrollToRoles()">go Roles</button>
            <button pButton class="p-col" (click)="scrollToCasting()">go Casting</button>
            <button pButton class="p-col" (click)="scrollToCastingCall()">go CastingCall</button>
            <button pButton class="p-col" (click)="scrollToArtistic()">go Artistic</button>
            <button pButton class="p-col" (click)="scrollToOther()">go Other</button>
            <button pButton class="p-col" (click)="saveCastingCallClick()">Save</button>
            <button pButton class="p-col" (click)="deleteCastingCallClick()">Delete</button>
            <button pButton class="p-col" (click)="cancelEditCastingCallClick()">Cancel</button>
        </div>


    </div>

</div>


