<mat-card>
    <span class="file-info">{{blobUploadState.file.name}}({{blobUploadState.totalSize | bytes}})</span>
    <section class="example-section">
      <div class="casting-progress">
        <mat-progress-bar *ngIf="blobUploadState.isUploading || blobUploadState.isComplete" class="example-margin" [value]="blobUploadState.percentageUploaded"></mat-progress-bar>
      </div>
      <div class="casting-fileaction">

        <mat-icon matTooltip="Upload this clip" *ngIf="!blobUploadState.isUploading && !blobUploadState.isSuccess" class="action" (click)="upload()">file_upload</mat-icon>
          <mat-icon matTooltip="Remove and disguard this clip" class="action" (click)="remove()">cancel</mat-icon>
        <mat-icon matTooltip="View and edit this clip" *ngIf="!blobUploadState.isUploading && !blobUploadState.isSuccess" class="action" (click)="edit()">open_in_browser</mat-icon>
        <!--<mat-icon *ngIf="!blobUploadState.isUploading && !blobUploadState.isSuccess" class="action" (click)="remove()">cancel</mat-icon>-->
  </div>
    </section>
    <span *ngIf="blobUploadState.isUploading || blobUploadState.isComplete" class="file-info">{{blobUploadState.percentageUploaded}}% </span><span *ngIf="blobUploadState.isUploading || blobUploadState.isComplete"> {{blobUploadState.uploadedSize | bytes}} of {{blobUploadState.totalSize | bytes}}</span>
</mat-card>